body {
  background-color: #24212e;
  display:flex;
  justify-content: center;
  margin-top: 50px;
  box-sizing: border-box;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gameContainer {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.game {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px; 

}

.cells {
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  font-size: 85px;
  display: flex;
  align-items: center;  
  justify-content: center;
  color: #24212e;
}

.cells:hover {
  background-color: #f9e4e4;
  cursor: pointer;
}

#restartBtn {
  margin-top: 30px;
  font-size: 18px;
  width: 125px;
  height: 40px;
  border-radius: 7px;
  background-color: #ffffff;
  border: none;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #24212e;
}
#restartBtn:hover {
  background-color: #f9e4e4;
}
